[submodule "AIDA"]
	path = ext/AIDA
	url = https://github.com/JanJend/AIDA
	branch = main
[submodule "Persistence-Algebra"]
	path = ext/Persistence-Algebra
	url = https://github.com/JanJend/Persistence-Algebra
	branch = main
[submodule "ext/mpfree"]
	path = ext/mpfree
	url = https://bitbucket.org/mkerber/mpfree/
	branch = master
[submodule "ext/multi_chunk"]
	path = ext/multi_chunk
	url = https://bitbucket.org/mkerber/multi_chunk
	branch = master
[submodule "ext/multi_critical"]
	path = ext/multi_critical
	url = https://bitbucket.org/mkerber/multi_critical.git
	branch = main
[submodule "ext/function_delaunay"]
	path = ext/function_delaunay
	url = https://bitbucket.org/mkerber/function_delaunay/
	branch = master
[submodule "ext/phat"]
	path = ext/phat
	url = https://github.com/xoltar/phat
[submodule "ext/rhomboidtiling_newer_cgal_version"]
	path = ext/rhomboidtiling_newer_cgal_version
	url = https://github.com/DavidLapous/rhomboidtiling_newer_cgal_version
	branch = master
[submodule "ext/hera"]
	path = ext/hera
	url = https://github.com/DavidLapous/hera.git
	branch = little_fix
[submodule "ext/2pac"]
	path = ext/2pac
	url = https://gitlab.com/flenzen/2pac
	branch = main
