*.so
*.gch
*.svg
__pycache__
dionysus_vineyards
simplextree
.ipynb_checkpoints
Untitled*
images
UCR
datasets
test_*
doc/doxygen-awesome-css
doc/html
doc/latex
src/mma.cpp
*.kdev4
*.gch
src/build/
src/.vscode
src/.kdev4
src/test_*
rivet_GUI
rivet_console
.DS_Store
