## temp/cache files
*.DS_Store
.vscode
__pycache__
*.scc
*.dmp
_*.pkl
.ipynb_checkpoints
.pytest_cache
.virtual_documents
.ruff_cache

# bear
compile_commands.json
compile_flags.txt

## build files
build
build*/
build_*/
dist
*.egg-info
*.cpp
!multipers/_mma_nanobind.cpp
!multipers/_slicer_nanobind.cpp
*.so
*.o
*.whl
*.dep
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cython/

## Tempita generated codegen outputs
multipers/gudhi/filtrations_extern_templates.h
multipers/gudhi/simplextree_multi_extern_templates.h
multipers/gudhi/slicer_extern_templates.h
tools/core/*.inc

## docs folders
docs/_build/
docs/source/

## Hidden files
.*
!.clang-format
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.gitignore

## Notebook-generated
*.png
*.svg
*.csv
