recursive-include multipers *.py *.tp *.pxd *.h *.pyx *.hpp
prune ext
include ext/AIDA/CMakeLists.txt
recursive-include ext *.h *.hpp *.cpp LICENSE COPYING COPYING.LESSER
include _tempita_grid_gen.py
include LICENSE
include THIRD_PARTY_NOTICES.md
recursive-include licenses *
recursive-exclude multipers *.cpp
recursive-exclude multipers *.so *.dll *.dylib *.lib *.pyd
global-exclude .git
