[build-system]
requires = [
  "numpy",
  "Cython",
  "setuptools",
  "wheel",
]
build-backend = "setuptools.build_meta"

[project]
name = "multipers"
version = "2.3.5b1"
description = "Multiparameter Topological Persistence for Machine Learning"
readme = "README.md"
authors = [
  { name = "David Loiseaux", email = "david.lapous@proton.me" },
  { name = "Hannah Schreiber", email = "hannah.schreiber@inria.fr"},
]
maintainers = [{ name = "David Loiseaux", email = "david.lapous@proton.me" }]
dependencies = [
  #`import multipers`
  "numpy",
  "gudhi>=3.8", ## Needs simplextree serialize
  "tqdm",
  "scipy",
  "joblib",
  "matplotlib",
  #`pytest multipers`
  "scikit-learn",
  "filtration-domination",
  "pykeops",
  "pot"
]
requires-python = ">=3.10"
license = "MIT"
license-files = ["LICENSE"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Scientific/Engineering :: Mathematics",
  "Topic :: Scientific/Engineering :: Visualization",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
keywords = ["TDA", "Persistence", "Multiparameter", "sklearn"]

[project.urls]
source = "https://github.com/DavidLapous/multipers"
download = "https://pypi.org/project/multipers/#files"
tracker = "https://github.com/DavidLapous/multipers/issues"
"release notes" = "https://github.com/DavidLapous/multipers/releases"

# # automatic search for packages
[tool.setuptools.packages.find]
include = ["multipers*"]

